body {
  background: #c6d5c3;
  font-family: Arial, Helvetica, sans-serif;
}

/* @media screen and (min-width: 375px) { */
  #root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5em;
    height: 90vh;
  }

  .sectionlogin {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 12em;
    display: flex;
    margin-top: 1em;
  }

  .imputname {
    font-size: 20px;
    border: none;
    border-bottom: solid 3px #718c6e;
    background: transparent;
    min-width: 330px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #24342B;
    font-weight: 400;
    outline: none;
  }

  /*Section Home*/

  .sectionhome {
  
  #inputPost{
    margin-top: 60px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0.9375rem;
    background: #EDEDED;
    min-width: 300px;
    height: 3.5625rem;
    box-sizing: border-box;
    display: block;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;

  }

  .placeholder{
    text-align: center;
    padding: 10px;
  }
  }
  
.comentario-input{
    background-color: transparent;
    border: none;
    border-radius: 0.9375rem;
    background: #EDEDED;
    min-width: 300px;
    height: 3.5625rem;
    box-sizing: border-box;
    display: block;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    font-size: medium;
  }
    
    
  /* } */



  #spanErrorUserStyle {
    display: inline-block;
    visibility: hidden;
    background-color: #570b63; /* Color de fondo del globo */
    color: white; /* Color del texto dentro del globo */
    border-radius: 10px; /* Bordes redondeados para el globo */
    padding: 10px 20px; /* Espaciado interno del globo */
    position: relative;
    max-width: 300px; /* Ancho m치ximo del globo */
    margin-left: 0px; /* Espacio entre el globo y el elemento al que pertenece */
    margin-top: 10px; /* Ajusta la distancia entre el globo y el elemento */
  }
  
  #spanErrorUserStyle::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Cambiar "top" a "bottom" */
    left: 50%;
    margin-left: -15px; /* Posicionamiento de la punta del globo en el centro */
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #570b63 transparent; /* Cambiar el orden de los colores para que la punta apunte hacia abajo */
    margin-top: -2px; /* Ajusta la distancia entre el tri치ngulo y el globo */
  }
  

  #spanErrorPassStyle {
    display: inline-block;
    visibility: hidden;
    background-color: #570b63; /* Color de fondo del globo */
    color: white; /* Color del texto dentro del globo */
    border-radius: 10px; /* Bordes redondeados para el globo */
    padding: 10px 20px; /* Espaciado interno del globo */
    position: relative;
    max-width: 300px; /* Ancho m치ximo del globo */
    margin-left: 0px; /* Espacio entre el globo y el elemento al que pertenece */
    margin-top: 10px; /* Ajusta la distancia entre el globo y el elemento */
  }

  #spanErrorPassStyle::before {
    content: "";
    position: absolute;
    bottom: 100%; /* Cambiar "top" a "bottom" */
    left: 50%;
    margin-left: -15px; /* Posicionamiento de la punta del globo en el centro */
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #570b63 transparent; /* Cambiar el orden de los colores para que la punta apunte hacia abajo */
    margin-top: -2px; /* Ajusta la distancia entre el tri치ngulo y el globo */
  }

  .imputpass {
    font-size: 20px;
    border: none;
    border-bottom: solid 3px #718c6e;
    background: transparent;
    min-width: 100%;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #24342B;
    font-weight: 400;
    outline: none;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
    margin: 1.3em 0em;
  }
  .formlogin {
    margin-top: 2em;
  }

  .googleImg {
    width: 2em;
  }

  button {
    background: #24342b;
    color: aliceblue;
    font-size: 20px;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 10px 40px;
    margin-top: 1.5em;
  }

  #buttonPost{
    float: right;
    border: none;
    margin-bottom: 20px;
  }

  .createAccount {
    position: relative;
    top: 4em;
    color: #6b6b6b;
  }
  .textp {
    color: #718c6e;
    margin-top: 3em;
  }

  .buttonBack {
    width: 3em;
    position: relative;
    left: -9em;
    top: -5em;
  }
  
  /* Estilos botones del post para editar/borrar/dar like*/
  .Edit {
    width: 2em;
    float: right;
    margin-bottom: 1em;
  }
   .borrar {
    width: 2em;
    float: right;
    margin-bottom: 1em;
  } 
  .Like {
    width: 2em;
    float: left;
    margin-bottom: 1em;
  }
  
  
  
  
  
  /*Estilos Create Post*/

  .container{
    width: 500px;
    height: 480px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
  }
  .container.active{
    height: 590px;
  }
  .container .wrapper{
    width: 1000px;
    display: flex;
  }
  .container .wrapper section{
    width: 500px;
    background: #fff;
  }
  .container img{
    cursor: pointer;
  }
  .container .post{
    transition: margin-left 0.18s ease;
  }
  .container.active .post{
    margin-left: -500px;
  }
  .post header{
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
  }
  .post form{
    margin: 20px 25px;
  }
  .post form .content,
  .audience .list li .column{
    display: flex;
    align-items: center;
  }
  .post form .content img{
    cursor: default;
    max-width: 52px;
  }
  .post form .content .details{
    margin: -3px 0 0 12px;
  }
  form .content .details p{
    font-size: 17px;
    font-weight: 500;
  }
  .content .details .privacy{
    display: flex;
    height: 25px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 11px;
    margin-top: 3px;
    border-radius: 5px;
    align-items: center;
    max-width: 98px;
    background: #E4E6EB;
    justify-content: space-between;
  }
  .details .privacy span{
    font-size: 13px;
    margin-top: 1px;
    font-weight: 500;
  }
  .details .privacy i:last-child{
    font-size: 13px;
    margin-left: 1px;
  }
  form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;
  }
  form textarea{
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
  }
  form textarea::placeholder{
    color: #858585;
  }
  form textarea:focus::placeholder{
    color: #b3b3b3;
  }
  form :where(.theme-emoji, .options){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .theme-emoji img:last-child{
    max-width: 24px;
  }
  form .options{
    height: 57px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 7px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  form .options :where(.list, li),
  .audience :where(.arrow-back, .icon, li .radio){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .options p{
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
  }
  form .options .list{
    list-style: none;
  }
  .options .list li{
    height: 42px;
    width: 42px;
    margin: 0 -1px;
    cursor: pointer;
    border-radius: 50%;
  }
  .options .list li:hover{
    background: #f0f1f4;
  }
  .options .list li img{
    width: 23px;
  }
  form button{
    height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #BCC0C4;
    cursor: no-drop;
    border-radius: 7px;
    background: #e2e5e9;
    transition: all 0.3s ease;
  }
  form textarea:valid ~ button{
    color: #fff;
    cursor: pointer;
    background: #4599FF;
  }
  form textarea:valid ~ button:hover{
    background: #1a81ff;
  }